<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Example WebApp</title>
</head>
<body>
<h1 th:text="${uuid}"></h1>
<div th:each="node : ${nodes}">
    <p>
        <a th:utext="${node} + '/info'" th:href="@{${node} + '/info'}"></a>
    </p>
</div>
</body>
</html>
